.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 5px
}

.dialogItem.active{
    color: gold;
}


.dialog{
    padding: 5px
}

.messages{
    padding: 5px
}


.message{
    padding: 5px
}

